body{
    height: 100%;
    color:white;
    background-color:#c6c6c6;
}

.panel{
    width: 30%;
    float:left;
    border: none;
    margin: 20px 10px;
    background:#f3f3f3;
    padding-bottom: 10px;
    box-shadow: 10px 10px 40px #000000;
}

.title{
    background:#f46e42;
    text-align: center;
    font-size: 1em;
    height: 50px;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px #000000;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 29em;
    width: 90%;
}

h1{
    font-size: 3em;
    margin: 0 auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    font-weight: 300;
    text-shadow: 1px 1px 2px #000000;
}

.container.page-header{
    text-shadow: 1px 1px 2px #000000;
    margin-top: 20px;
    background:#f46e42;
    padding:10px;
    margin-bottom: 5px;
    border:none;
    box-shadow: 10px 10px 90px #000000;
}

hr{
    width: 90%;
    box-shadow: 10px 10px 40px #000000;
}

a{
    color:white;
}