
body{
    color:white;
    background-color: #c6c6c6;
    /*#c6c6c6;*/
}

#panel{
    margin: 10% auto;
    background-color:#f46e42;
    text-align:center;
    width: 25%;
    padding: 20px;
    box-shadow: 10px 10px 40px #000000;
}

h1{
    margin-bottom: 10%;
    height: 30px;
    line-height: 30px;
    text-shadow: 1px 1px 2px #000000;
}

.page-header{
    text-shadow: 1px 1px 2px #000000;
    font-weight: 300;
}

.page-header.hr{
   box-shadow: 10px 10px 40px #000000; 
}

button{
    color:white;
}
